<div class="toolbar-container" fxLayout="column" fxLayoutAlign="center stretch" >
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="4"  class="toolbar-button">
            <button mat-icon-button aria-label="Add note" class="toolbar-btn" (click)="addNote()">
                <mat-icon>note_add</mat-icon>
            </button>
            <button mat-icon-button aria-label="Delete note" class="toolbar-btn" (click)="deleteNote()">
                <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button aria-label="Save note" class="toolbar-btn" (click)="saveNote()">
                <mat-icon>save</mat-icon>
            </button>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="4"  class="toolbar-search">

            <mat-form-field appearance="outline">
                <mat-label>Search</mat-label>
                <input matInput placeholder="Search" size="20" />
                <mat-icon aria-hidden="false" aria-label="Search notes" matSuffix>search</mat-icon>
            </mat-form-field>
        </div>
    </div>
</div>