<div class="toolbar-container" fxLayout="column" fxLayoutAlign="center stretch">
    <!-- Base Directory -->
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <span *ngIf="!editBaseDir" class="toolbar-basedir-empty">Base Directory</span>
            <span *ngIf="!editBaseDir" class="toolbar-basedir">{{baseDir}}</span>
            <mat-form-field *ngIf="editBaseDir" class="toolbar-basedir-input" appearance="outline" floatLabel="never">
                <input matInput placeholder="Directory" size="20" (focusout)="setBaseDir()" (keyup.Enter)="setBaseDir()"
                    [(ngModel)]="baseDir" class="toolbar-input" />
            </mat-form-field>
            <img alt="Add The Base Directory" src="assets/baseline_create_black_24dp.png" class="toolbar-basedir-btn"
                (click)="updateBaseDir()" />
        </div>

        <!-- Search input -->
        <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="4">

            <mat-form-field appearance="outline" floatLabel="never">
                <mat-label>Search</mat-label>
                <input matInput placeholder="Search" size="20" (keyup.Enter)="search()" [(ngModel)]="search_keyword"
                    class="toolbar-input" />
                <img alt="Search" src="assets/baseline_search_black_18dp.png" matSuffix />
            </mat-form-field>
            <div class="search-results">
                <span *ngIf="match_notes.length>=0">{{match_notes.length==0 ? 0:match_index+1}} of
                    {{match_notes.length}}</span>
                <button mat-icon-button aria-label="Previous" (click)="previous()" class="toolbar-search-btn"
                    [disabled]="match_notes.length <= 1">
                    <mat-icon>arrow_drop_up</mat-icon>
                </button>
                <button mat-icon-button aria-label="Previous" (click)="next()" class="toolbar-search-btn"
                    [disabled]="match_notes.length<=1">
                    <mat-icon>arrow_drop_down</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>