<div class="welcome-container" fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="16px">
    
    <div fxFlex="20" fxLayout="row" fxLayoutAlign="start center" >
        <div>
            <h1 class="welcome-title" >I heard that you are trying to create a note?</h1>
            <h1 class="welcome-title">You are in the right place! </h1>            
        </div>
        <div>
            <img src="./assets/Blank-Catalog.png" />
        </div>
    </div>
    <div fxFlex="30">
        <p>Welcome to My Life Notes! My Life Notes is an app that will help you store and manage your notes. </p>
    </div>
    <div fxFlex="30">

        <p>Making a note is as easy as:

        </p>
        <ol>
            <li>Click the Add button</li>
            <li>Named your note</li>
            <li>Start taking notes!</li>
        </ol>
    </div>
    <div fxFlex="20">
        <p>If you think we are missing a feature, send us an email to: <a
            href="mailto: jensenat@gmail.com">jensenat@gmail.com</a>, will try to add it just for you!</p>
    </div>
</div>