<div class="welcome-container" fxLayout="column" fxLayoutAlign="start stretch">
    <h1>I heard that you are trying to create a note?</h1>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <div>
            <p>You are in the right place! </p>
            <p>Making a note is as easy as:

            </p>
            <ol>
                <li>Click the Add button</li>
                <li>Named your note</li>
                <li>Start taking notes!</li>
            </ol>
            
        </div>
        <div>
            <img src="./assets/notes-128.png" />
        </div>
    </div>
    <div>
        <p>If you think we are missing a feature, send us an email to: <a
            href="mailto: jensenat@gmail.com">jensenat@gmail.com</a>, will try to add it just for you!</p>
    </div>
</div>