.app-container{
    height: 100%;
}

.app-buttons{
    background: gray;
    height: 70px;
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
}

.app-content{
    height: 100%;
}

.app-nav{
    background: lavender;
}

.app-data{
    background: ivory;
}