<div class="app-container" fxLayout="column" fxLayoutAlign="start stretch">
  <app-toolbar class="app-buttons"></app-toolbar>

  <div class="app-content" fxLayout="row" fxLayoutAlign="start stretch">
    <div class="app-nav">
      <app-navigation [data_saved]="NOTES_DATA"></app-navigation>
    </div>
    <div class="app-data" mwlResizable (resizeEnd)="onResizeEnd($event)" 
      [resizeEdges]="{ left: true }" [ngStyle]="style">
      <app-welcome *ngIf="!isSelected"></app-welcome>
      <app-data *ngIf="isSelected"></app-data>
    </div>
  </div>

</div>