<div class="app-container" fxLayout="column" fxLayoutAlign="start stretch">
  <app-toolbar class="app-buttons"></app-toolbar>

  <div class="app-content" fxLayout="row" fxLayoutAlign="start stretch">
    <div class="app-nav">
      <app-notes-tree [data]="NOTES_DATA"></app-notes-tree>
    </div>
    <div class="app-data" mwlResizable (resizeEnd)="onResizeEnd($event)" 
      [resizeEdges]="{ left: true }" [ngStyle]="style">
      <app-welcome *ngIf="NOTES_DATA.length == 0"></app-welcome>
      <app-notes-data *ngIf="NOTES_DATA.length > 0"></app-notes-data>
    </div>
  </div>

</div>