<div class="tab-body-content" fxLayout="row" fxLayoutAlign="start stretch">
    <!-- Navegation section -->
    <div>
        <div fxLayout="column" fxLayoutAlign="start stretch">
            <div fxLayout="row" fxLayoutAlign="start center" class="tab-body-note-tools">
                <img alt="Add note" src="assets/baseline_note_add_black_24dp.png" 
                    class="tab-body-btn"
                (click)="addNote()"/>
                <img alt="Delete notes" src="assets/baseline_delete_black_24dp.png" 
                    [ngClass]="{
                        'tab-body-btn-disabled': stateData.current_note_id?false:true,
                        'tab-body-btn': stateData.current_note_id?true:false
                    }" />
                <img alt="Edit notes" src="assets/baseline_edit_note_black_24dp.png" 
                    [ngClass]="{
                        'tab-body-btn-disabled': stateData.current_note_id?false:true,
                        'tab-body-btn': stateData.current_note_id?true:false
                }" />
            </div>
            <div class="tab-body-nav">
                <app-notes-tree></app-notes-tree> 
            </div>
        </div>
    </div>
    
    <!-- Note Content section -->
    <div class="tab-body-data" mwlResizable (resizeEnd)="onResizeEnd($event)" [resizeEdges]="{ left: true }"
        [ngStyle]="style">
        <app-welcome *ngIf="!isSelected"></app-welcome>
        <app-data *ngIf="isSelected"></app-data>
    </div>
</div>