@import "../../../styles.scss";

.tab-body-content{
    height: 100%;
    border: 2px solid #5c7c96;
}

.tab-body-nav{
    background: $headerBackground;
    min-width: 100px;
    box-sizing: border-box; 
    flex: 1 1 auto;
}

.tab-body-note-tools{
    padding-left: 4px;
    padding-bottom: 8px;
}

.tab-body-btn{
    cursor: pointer;
}

.tab-body-btn:hover{
    background: #003554;
    border: 1px solid blue;
}

.tab-body-btn-disabled{
    opacity: 0.5;
}

.tab-body-data{
    background: ivory;
    box-sizing: border-box;
    flex: 3 3 auto;
    border-left: 1px solid gray; 
}